div.message-container {
  background-color: #eee;
  margin: 20px;
  padding: 10px;
}

div.message-container span {
  font-family: "Arial";
  font-size: 1.4em;
  margin: 10px;
}

div.postbody {
  margin: 5px;
  background-color: #ddd;
  border: 5px solid #ddd;
}

textarea {
  margin: 5px;
  background-color: white;
  width: 98%;
  height: 100px;
}